body {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer";
    grid-template-rows: 100px 500px auto;
    grid-template-columns: 2fr 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    height: fit-content;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
